.btn-success {
  padding: 10px 0px;
  border-radius: 0px;
  font-weight: bold;
  background: #51C96F;
  outline: 0;
  border: 0;
}
.btn-default {
  padding: 10px 0px;
  border-radius: 0px;
  font-weight: bold;
  background: #fff;
}
.grey-text {
  color: #919191;
}
.green-text {
  color: #51C96F;
}
#left-section p {
  line-height: 22px;
  font-size: 17px;
}
#left-section h1 {
  font-size: 27px;
  font-weight: bold;
}
#left-section .details {
  padding: 10px 20px;
  background-color: #f9f9f9;
}
#left-section .details .card {
  margin: 20px 0px;
  background-color: white;
  margin-right: 30px;
  box-shadow: -2px 5px 14px 0px #ece4e4;
}
#left-section .details .thumbnail {
  background-color: #f9f9f9;
  border: 1;
}
#right-section .card {
  margin-top: 50px;
  min-height: 300px;
  box-shadow: -2px 5px 14px 0px #ece4e4;
}
#right-section .card p {
  font-size: 15px;
}
